* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  color: rgb(4, 4, 95);
}

html {
  background: linear-gradient(
    45deg,
    rgb(67, 13, 241) 10%,
    rgba(201, 12, 38, 0.5) 70%
  );

  /*rgb(185, 185, 248) */
}

.weather-icon {
  width: 50%;
  max-width: 300px;
  margin: 2rem;
  pointer-events: none;
}

.icon-rain-updown {
  animation-name: upDown;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes upDown {
  from {
    transform: translatey(-5%);
  }

  to {
    transform: translatey(5%);
  }
}

.icon-sun-turn {
  animation-name: turnAround;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

@keyframes turnAround {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  user-select: none;

  animation-name: fadeIn;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.header {
  width: 100vw;
  height: 30vh;

  border-bottom: 0.3rem solid rgba(4, 4, 95, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-quick {
  width: 50vw;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-right: 0.3rem solid rgba(4, 4, 95, 0.3);
}

.header-current-temp {
  font-size: 4rem;
  padding: 1rem;
  margin-right: 2rem;
  width: 50%;
  text-align: center;
}

.weather-details {
  width: 50vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.info-group {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-group span {
  font-size: 1.2rem;
}
.label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.daily-container {
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.daily-card {
  display: flex;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.3rem solid rgba(4, 4, 95, 0.3);
}

.daily-card .label {
  width: 3rem;
}

.daily-card:hover {
  cursor: pointer;
  background-color: rgba(4, 4, 95, 0.3);
  border-bottom: 0.3rem solid transparent;
}

.daily-card > img {
  width: 15%;
  max-width: 180px;
  max-height: 10vh;
}

.daily-view {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 70vw;
  max-width: 50rem;
  height: 70vh;

  background: linear-gradient(
    45deg,
    rgb(67, 13, 241) 10%,
    rgba(199, 65, 83, 0.9) 70%
  );
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  z-index: 1;
}

.animate-slideIn {
  animation-name: slideIn;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
}

.visible {
  visibility: visible;
}

.hour-table {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  border-collapse: collapse;
}

tr {
  text-align: center;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.5);
}

tr:last-child {
  border: none;
}

th:first-child {
  border-radius: 1rem 0 0 0;
}

th:last-child {
  border-radius: 0 1rem 0 0;
}

th,
td {
  font-size: 1.3rem;
}

td {
  color: rgb(240, 229, 229);
}

.exit {
  font-weight: bold;
  font-size: 1.5rem;
  position: absolute;
  right: 1%;
  top: -0.5%;
}

.exit:hover {
  color: white;
  cursor: pointer;
}

.blur {
  filter: blur(0.1rem);
}

@keyframes slideIn {
  from {
    transform: translate(-100%, -50%);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
