* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  color: black;
}

html {
  background: linear-gradient(
        45deg,
        rgb(144, 118, 228) 0%,
        rgba(201, 12, 38, 0) 70%
      )
      repeat scroll 0% 0%,
    linear-gradient(
        135deg,
        rgb(225, 5, 152) 10%,
        rgba(49, 5, 209, 0) 80%
      )
      repeat scroll 0% 0%,
    linear-gradient(
        225deg,
        hsla(179, 81%, 45%, 1) 10%,
        rgba(10, 219, 216, 0) 80%
      )
      repeat scroll 0% 0%,
    rgba(0, 0, 0, 0)
      linear-gradient(
        315deg,
        rgb(199, 145, 216) 100%,
        rgba(9, 245, 5, 0) 70%
      )
      repeat scroll 0% 0%;

  /*rgb(185, 185, 248) */
}

.weather-icon {
  width: 50%;
  max-width: 400px;
  margin: 2rem;
  pointer-events: none;
}

.icon-rain-updown {
  animation-name: upDown;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes upDown {
  from {
    transform: translatey(-5%);
  }

  to {
    transform: translatey(5%);
  }
}

.icon-sun-turn {
  animation-name: turnAround;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

@keyframes turnAround {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  animation-name: fadeIn;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.header {
  width: 100vw;
  height: 30vh;

  border-bottom: 0.3rem solid rgba(4, 4, 95, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-quick {
  width: 50vw;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-right: 0.3rem solid rgba(4, 4, 95, 0.3);
}

.header-current-temp {
  font-size: 4rem;
  padding: 1rem;
  width: 50%;
  text-align: center;
}

.weather-details {
  width: 50vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.info-group {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-group span {
  font-size: 1.2rem;
}
.label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem;
}
